node_modules/
.expo/
logs/
dist/
ios/
android/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Package managers
package-lock.json
yarn-error.log
.yarn/cache

# macOS
.DS_Store


